[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cellkeyperturbation"]
	path = cellkeyperturbation
	url = https://github.com/onsdigital/cell-key-perturbation-r
