[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cellkeyperturbation"]
	path = cellkeyperturbation
	url = https://github.com/onsdigital/cell-key-perturbation-r
[submodule "data.checker"]
	path = data.checker
	url = https://github.com/onsdigital/data.checker
